.editWindowContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  max-width: 0%;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: rgba(100, 100, 100, 0.9);
  z-index: 10;
  border-radius: 1em;
  min-height: 100%;
  transition: max-width 500ms ease-out;
  left: auto;
  right: 0;
}
.editWindowContainer.show {
  max-width: 100%;
  left: 0;
  right: auto;
}

.editWindow {
  border: solid 1px;
  border-radius: 1em;
  margin: 0.5em;
  background-image: var(--dark-gradient-small);
  position: relative;
  overflow: hidden;
  transition: color 500ms ease-out;
  min-width: fit-content;
}
.editWindow::before {
  position: absolute;
  content: "";
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: var(--light-gradient-small);
  z-index: 0;
  transition: left 500ms ease-out;
}
.editWindow.lightMode::before {
  left: 0;
}
.editWindow form {
  position: relative;
  display: grid;
  place-content: center;
  grid-template-columns: 8vw 15vw;
  column-gap: 1em;
  row-gap: 0.2em;
  margin: 0.5em 1em;
  margin-left: 0;
  overflow: auto;
  transition: color 600ms ease-out;
}
.editWindow form label {
  text-align: right;
}
.editWindow form div button {
  min-width: fit-content;
  max-width: 15ch;
  width: 100%;
  background-color: transparent;
  color: inherit;
  border-color: inherit;
  border-radius: 0.5em;
}
.genreContainer select {
  width: 100%;
}
.editWindowBtnContainer {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-around;
}
