.itemDisplayWrapper {
  margin: 1em auto;
  width: 60%;
  padding: 1em;
  position: relative;
  min-width: min-content;
  max-width: 1200px;
}
.itemDisplay {
  border: solid 1px;
  display: flex;
  border-radius: 1em;
  padding: 1em;
  width: 100%;
  height: fit-content;
  min-height: min(375px, 40vh);
  min-width: min-content;
  position: relative;
  justify-content: space-around;
  gap: 3em;
}
legend {
  float: none;
  width: fit-content;
  padding: 0em 0.3em 0.3em 0.2em;
  margin: 0;
  margin-left: 1em;
}
.itemDisplayImage {
  min-width: 250px;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid;
  border-radius: 1em;
  margin-top: auto;
  margin-bottom: auto;
}
.itemDisplayRight {
  flex-grow: 1;
  height: fit-content;
  margin: auto 0;
}
.itemDisplayLeft {
  width: 30%;
  height: 100%;
  display: grid;
  place-items: center;
  min-width: min-content;
  margin-top: auto;
  margin-bottom: auto;
}

.valuesContainer {
  background-color: rgba(100, 100, 100, 0.1);
  border: 1px solid;
  max-width: clamp(150px, 75%, 1000px);
  margin: auto;
  padding: 1em 2em;
  border-radius: 2em;
  min-width: min-content;
}

.valueContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  min-width: 244px;
  gap: 1em;
}

.valueItem {
  margin: auto 0;
}

.valueItemLeft {
  text-align: right;
}
.valueItemLeft span {
  white-space: pre;
}

.displayItemButtonContainer {
  right: 2em;
  top: -2.5em;
  position: absolute;
}

.displayItemButtonInner {
  padding: 0.3em 1em;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: var(--dark-gradient-small);
  overflow: hidden;
  border-radius: 1em;
  border: solid 2px;
  display: flex;
  gap: 1em;
}
.displayItemButtonInner::before {
  content: "";
  position: absolute;
  background-image: var(--light-gradient-small);
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 500ms ease-out;
}
.displayItemButtonInner.lightMode::before {
  top: 0;
  z-index: 0;
}

.displayItemButton {
  position: relative;
  color: inherit;
  background-color: transparent;
  border: none;
  z-index: 2;
  transition: color 600ms ease-out;
}

.confirmDeleteContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 0%;
  background-color: rgba(100, 100, 100, 0.9);
  top: 0;
  left: auto;
  right: 0;
  display: grid;
  place-content: center;
  overflow: hidden;
  z-index: 10;
  border-radius: 1em;
  transition: max-width 500ms ease-out;
  animation-direction: reverse;
}
.confirmDeleteContainer.show {
  max-width: 100%;
  left: 0;
  right: auto;
}
.confirmDelete {
  position: relative;
  border: solid 1px;
  display: grid;
  place-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: 1em;
  min-width: 200px;
  overflow: hidden;
  background-image: var(--dark-gradient-small);
  transition: color 700ms ease-out 300ms;
}
.confirmDelete::before {
  content: "";
  background-image: var(--light-gradient-small);
  bottom: -100%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  transition: bottom 500ms ease-out;
}
.confirmDelete.darkMode::before {
  bottom: -100%;
}
.confirmDelete.lightMode::before {
  bottom: 0;
}
.confirmDelete button {
  background-color: transparent;
  border-radius: 0.6em;
  color: inherit;
  border-color: inherit;
  border-style: solid;
  min-width: 5ch;
}
.confirmDelete div {
  z-index: 2;
}
.buttonDiv {
  display: flex;
  gap: 1em;
}
@media only screen and (max-width: 1210px) {
  .itemDisplayWrapper {
    width: 50%;
  }
  .itemDisplay {
    flex-direction: column;
    align-items: center;
  }
  .valuesContainer {
    max-width: clamp(150px, 50%, 1000px);
  }
}
@media only screen and (max-width: 600px) {
  .valuesContainer {
    border: none;
    margin: 0;
    background-image: none;
    background-color: transparent;
    padding: 0;
  }
  .valueContainer {
    grid-template-columns: 1fr;
    gap: 0.1em;
    margin: 01em;
    border: solid 1px;
    border-radius: 0.5em;
    min-width: 100px;
    padding: 0;
  }
  .valueItem {
    text-align: center;
  }
  .valueItemLeft {
    border-bottom: 1px solid;
    width: 100%;
  }
  .valueItemLeft span {
    display: none;
  }
  .itemDisplayLeft {
    display: none;
  }
  .displayItemButtonContainer {
    right: auto;
    left: 100%;
    top: 5em;
  }
  .displayItemButtonInner {
    flex-direction: column;
    gap: 3em;
    padding: 1em 0.2em;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
  }
}
