<div class="navContainer">
   <nav class="collectionNav @Mode">
      <div class="navItem  @Mode">
         <NavLink class="navLink" href="" Match="NavLinkMatch.All">All</NavLink>
      </div>
      <div class="navItem  @Mode">
         <NavLink href="anime">Anime</NavLink>
      </div>
      <div class="navItem @Mode">
         <NavLink href="figure">Figure</NavLink>
      </div>
      <div class="navItem">
         <NavLink href="manga">Manga</NavLink>
      </div>
      <div class="navItem">
         <NavLink href="videogame">Video Game</NavLink>
      </div>
   </nav>
</div>

@code{
   [Parameter]
   public string? Mode{get;set;}
}