<div class="navContainer">
   <nav class="collectionNav">
      <div class="navItem">
         <NavLink class="navLink" href="" Match="NavLinkMatch.All">All</NavLink>
      </div>
      <div class="navItem">
         <NavLink href="anime">Anime</NavLink>
      </div>
      <div class="navItem">
         <NavLink href="figure">Figure</NavLink>
      </div>
      <div class="navItem">
         <NavLink href="manga">Manga</NavLink>
      </div>
      <div class="navItem">
         <NavLink href="videogame">Video Game</NavLink>
      </div>
   </nav>
</div>