.navContainer {
  width: 60%;
  margin: 0 auto;
  transition: color 700ms ease-out 300ms;
}

.collectionNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navItem {
  border: 1px solid;
  flex-grow: 1;
  display: grid;
  place-items: center;
  position: relative;
  transition: color 700ms ease-out 300ms;
  will-change: color;
  text-align: center;
  min-width: 75px;
}

::deep a {
  margin: auto;
  transition: color 700ms ease-out 300ms;
  will-change: color;
  text-decoration: none;
}
::deep a:link {
  color: var(--dark-text);
}
::deep a:active {
  color: var(--dark-text);
}
::deep a:visited {
  color: var(--dark-text);
}
::deep a.active {
  color: var(--dark-text);
  z-index: 1;
}
::deep a.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.3);
  top: 0;
  left: 0;
  z-index: -1;
}
.darkMode {
  background-color: transparent;
}
.lightMode {
  background-color: transparent;
}

.lightMode ::deep a:link {
  color: var(--light-text);
}
.lightMode ::deep a:active {
  color: var(--light-text);
}
.lightMode ::deep a:visited {
  color: var(--light-text);
}
.lightMode ::deep a.active {
  color: var(--light-text);
  z-index: 1;
}
.lightMode ::deep a.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 190, 190, 0.4);
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 450px) {
  .collectionNav {
    flex-direction: column;
  }
}
