@inherits LayoutComponentBase

<PageTitle>CollectionApp</PageTitle>
<div class="page @Mode @MyMode">
    <div class="mainApp">
        
        <TitleBar ChangeMode="@ChangeMode" Mode="@Mode"/>
        <MainNav Mode="@Mode" />
        <main>
            @Body
        </main>
    </div>
</div>

@code{
    private string Mode="darkMode";

    private string MyMode="darkModeMain";

    public void ChangeMode(){
        if(Mode=="darkMode"){
            Mode="lightMode";
            MyMode="lightModeMain";
        }
        else{
             Mode="darkMode";
             MyMode="darkModeMain";
        }
        StateHasChanged();
    }
}