@inherits LayoutComponentBase

<PageTitle>CollectionApp</PageTitle>

<div class="page">
    <TitleBar />
    <MainNav />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
