.searchBarContainer {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.searchBarContainer a {
  color: inherit;
  text-decoration: none;
}
.searchBarContainer a:visited {
  color: inherit;
}
.searchBarContainer a:active {
  color: inherit;
}
.searchBarContainer a:hover {
  color: inherit;
  cursor: pointer;
}

.searchInput {
  border-radius: 1em;
  padding: 0.1em 1em;
  max-width: 10vw;
  min-width: 8ch;
}

.searchButton {
  border: outset 3px;
  border-radius: 1em;
  padding: 0.2em 0.5em;
}
@media only screen and (max-width: 450px) {
  .searchBarContainer {
    justify-content: center;
  }
}
