<div class="titleContainer">
   <div class="leftTitleBar titleBarPartition">
      <!-- Hidden on login -->
      <div class="@logoutDisplay titleItem">
         <button type="button" class="titleButton" @onclick="@ChangeShow">Login</button>
      </div>
      <!-- Hidden on logout -->
      <div class="@loginDisplay titleItem">
         <button type="button" class="titleButton" @onclick="@ChangeShowAddItem" >Add Item</button>
      </div>
      <!-- Hidden on logout -->
      <div class="@loginDisplay titleItem">
         <button type="button" class="titleButton" @onclick="Logout">Logout</button>
      </div>
      <div class="titleItem">
         <button type="button" class="titleButton modeButton @modeButtonClass" @onclick="SwapMode">@mode Mode</button>
      </div>
   </div>
   <div class="centerTitleBar titleBarPartition">
      <div class="titleItem">My Collection App</div>
   </div>
   <div class="rightTitleBar titleBarPartition">
      <div class="titleItem">
         <SearchBar />
      </div>
   </div>
</div>

@code{
   private bool MyLogin;
   [Parameter]
   public Action ChangeShowAddItem{get;set;}
   [Parameter]
   public Action ChangeShow{get;set;}
   [Parameter]
   public Action Logout{get;set;}
   [Parameter]
   public bool Show{get;set;}
   [Parameter]
   public string? Mode{get;set;}
   [Parameter]
   public Action? ChangeMode{get;set;}
   [Parameter]
   public Action? RefreshMe{get;set;}

   [Parameter]
   public bool loggedIn{
      get=>MyLogin;
      set{
         MyLogin=value;
         if(value){
            logoutDisplay="hideItem";
            loginDisplay="showItem";
         }
         else{
            loginDisplay="hideItem";
            logoutDisplay="showItem";
         }
      }
   }
   
   string loginDisplay="hideItem";
   string logoutDisplay="showItem";

   string mode="Dark";

   string modeButtonClass="darkButton";
   
   private void SwapMode(){
      if(mode=="Dark"){
         mode="Light";
         modeButtonClass="lightButton";
      }

      else{
         mode="Dark";
         modeButtonClass="darkButton";
      }
      ChangeMode?.Invoke();
   }
   @* private void Logout(){
      MyLogin=false;
      loginDisplay="hideItem";
      logoutDisplay="showItem";
   } *@
}